/* Basic styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e9e9e9; /* Changed */
}
header {
  background-color: #fff; /* Changed */
  color: #074a64;
  padding: 10px 0;
  text-align: center;
  display: flex;
  justify-content: right;
  margin: 20px;
  padding: 10px;
}

.profile {
  display: flex;
  align-items: center;
  margin-right: auto; /* Push the profile to the left */
  margin-left: auto; /* Push the profile to the right */
}

.profile img {
  width: 250px;
  height: auto;
  margin-right: 20px; /* Space between image and text */
}

nav {
  display: flex;
  align-items: center;
  position: fixed; /* or position: absolute; */
  background-color: white; /* Add a background color to distinguish the menu */
  z-index: 999; /* Ensure the menu appears above other content */
}

#menu {
  font-size: 28px; /* Increase the font size */
  margin-left: auto; /* Push the button to the right */
  font-size: 28px;
  margin-right: 20px;
}

#navigation {
  display: none; /* Initially hide the navigation menu */
}

main {
  margin-right: 20px;
  margin-left: 20px;
  padding-left: 10px;
  padding-right: 10px;
  color: #074a64;
  text-align: center;
}
footer {
  text-align: center;
  padding: 10px;
  background-color: #fff;
  color: #074a64;
  position: -ms-page;
  bottom: 0;
  margin: 20px;
  padding: 10px;
}
