* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply a dark grey and pink theme */
body {
  background-color: #fff;
  color: #ffc8dd;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}

header,
nav,
main,
footer {
  padding: 15px;
}


header {
  background-color: #ffc8dd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
}
.top-heading {
  text-align: center;
}

.top-heading h1 {
  display: block;
  color: black;
  margin: 0;
  width: fit-content;
  padding: 0 400px;
}

nav li a {
  color: #000;
  text-decoration: none;
}

.navigation li {
  display: inline-block;
  margin-right: 160px; /* Add some margin between the list items */
}

.navigation li a:hover {
  color: #333; /* dark grey color */
  text-decoration: line-through;
}
#visitMessage{
  color: #ff00aa;
  background-color: #333;
  padding-top: 30px;
  font-size: 30px;
}

.hero img {
  width: auto;
  max-width: 100%;
}

.company-spotlights-container {
  overflow: hidden;
  position: relative;
  border: 1px solid #ccc; /* Add border to the whole spotlight area */
  border-radius: 5px;
  margin: 30px;
}

.company-spotlight {
  flex: 0 0 100%; /* Each spotlight takes full width */
  transition: transform 0.5s ease;
  display: none;
  padding: 10px;
  text-align: justify;
  background-color: #000;
}

.active {
  display: flex;
}

.logo-container {
  margin-right: 20px;
  text-align: center;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%; /* Make the logo circular */
}

h4 {
  color: #fff;
  text-align: right;
  margin: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex: 1 0 100%;
  margin: 0 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffc8dd;
  margin: 30px;
}
.card h2 {
  color: rgb(0, 0, 0);
  padding: 10px;
  text-decoration: underline;
}
.card h3 {
  text-decoration: overline;
  text-align: center;
  padding: 10px;
  color: #333;
}
.card p {
  color: #1a1313;
  text-align: justify;
}
footer {
  text-align: center;
  padding: 10px;
  background-color: #ffc8dd;
  color: #333;
  position: -webkit-sticky;
  bottom: 0;
  width: 100%;
  border-radius: 15px;
}

footer p {
  margin: 5px;
}
.demographics-icon img {
  width: 50px; /* Set the width to your desired small size */
  height: 50px; /* Set the height to your desired small size */
}
.demographics {
  text-align: center;
  display: inline-block;
  margin: 20px;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid #000;
}

.count {
  font-size: 1.5em;
  color: #ff00aa;
}

.label {
  padding: 10px;
  font-size: 1.5em;
  color: #333;
  font-size: 1em;
}
.events-icon img {
  width: 50px; /* Set the width to your desired small size */
  height: 50px; /* Set the height to your desired small size */
}
.event {
  border: 2px solid #000;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
}

.event h2 {
  color: #ff00aa;
}
.card h4{
  color: #1a1313;
}

.event p {
  margin: 5px 0;
}

.statistic-icon img {
  width: 60px; /* Set the width to your desired small size */
  height: 50px; /* Set the height to your desired small size */
}

.statistics-container {
  display: flex;
  height: 100%;
}

.statistics-sidebar {
  flex: 0 0 33%; /* Sidebar occupies 33% of the full page width */
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid #000;
}

.content {
  flex: 1;
  padding: 20px;
}

.sidebar{
  padding: 20px;
  background-color: #333;
}

.lazyloading{
  padding: 100px;
  background-color: #333;
  text-align: center;
}
.lazyloading picture{
  margin-bottom: 20px;
  animation: fade 15s;
}

@keyframes fade{
  0%{
  opacity: 0;
}
100%{
  opacity: 1;
}
}

.lazyloading img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

.caption {
  color: #fff;
  text-align: center;
  text-decoration: line-through;
}
.sidebar .card{
  margin-bottom: 20ox;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr; /* Sidebar and main area layout for desktop view */
}

.lazyloading picture:hover img {
  transform: scale(1.02); /* Example: Scale the image by 10% on hover */
  transition: transform 0.5s ease; /* Add a smooth transition effect */
}

#menu {
  display: none; /* hide hamburger button */
}

.navigation {
  flex-direction: row;
}
.navigation li {
  display: inline-block;
  margin-right: 160px; /* Add some margin between the list items */
}    

.stuff {
  margin: 1rem auto;
}

.card {
flex: 0 0 30%; /* First card takes 70% of the space */
margin: 10px; /* Add margin between the cards */
}

.card:nth-child(2) {
flex: 0 0 30%; /* Second card takes 25% of the space */
}

.card:nth-child(3){
flex: 0 0 35%;
}
.lazyloading {
padding: 20px;
}

.lazyloading h2 {
text-align: left;
}

.lazyloading picture {
margin-bottom: 20px;
}

@media (max-width: 768px) {
  .top-heading h1 {
    padding: 20px 0;
  }

  nav a {
    display: block; /* Display the links as block elements */
    margin: 10px 0; /* Add margin between the links */
  }
  

  .card {
    flex: 1 0 100%;
    margin: 10px 0;
  }
  .card:nth-child(1),
  .card:nth-child(2){
    flex: 1 0 100%;
  }

  /* Hamburger button styles */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  nav {
    max-width: 700px;
    margin: 1rem auto;
  }

  /* small view navigation */
  #menu {
    font-size: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 3px 7px 6px;
    background-color: #eee;
    color: #000;
    position: fixed;
    top: 1rem;
    right: 1rem;
  }

  #menu::before {
    content: "☰";
  }

  #menu.open::before {
    content: "❌";
  }

  .navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #333;
    color: #fff;
  }
  .navigation li {
    display: none;
  }
  .navigation li a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
  }

  /* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
  .open li {
    display: block;
    width: 100%;
  }
  .open li a {
    display: block;
  }

  .active::before {
    content: "⚡";
  }
  .container{
  display: block;
  }
  .lazyloading picture:hover img {
    transform: scale(1.00); /* Scale the image by 5% on hover */
  }

}
