/* Reset font size adjustments after orientation changes */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* Apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Dark grey and pink theme */
body {
  background-color: #fff;
  color: #ffc8dd;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}

header,
nav,
main,
footer {
  padding: 15px;
}

header {
  background-color: #ffc8dd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
}
a{
  color: rgb(71, 2, 71);
}
.top-heading h1 {
  display: block;
  color: black;
  margin: 0;
  width: fit-content;
  padding: 0 400px; /* Adjust as needed */
}
nav {
  text-align: center;
  background: #fff;
  margin: auto;
}
nav li a {
  color: #000;
  text-decoration: none;
}

.navigation li a:hover {
  color: #333;
  text-decoration: line-through;
}

#visitMessage {
  color: #ff00aa;
  background-color: #333;
  padding-top: 30px;
  font-size: 30px;
}

.hero img {
  width: auto;
  max-width: 100%;
}

/* Company spotlights styles */
.company-spotlights-container {
  overflow: hidden;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 30px;
}

.company-spotlight {
  flex: 0 0 100%;
  transition: transform 0.5s ease;
  display: none;
  padding: 10px;
  text-align: justify;
  background-color: #000;
}

.active {
  display: flex;
}

.logo-container {
  margin-right: 20px;
  text-align: center;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

h4 {
  color: #fff;
  text-align: right;
  margin: 20px;
}

/* Card container styles */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex: 1 0 100%;
  margin: 0 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffc8dd;
  margin: 30px;
}

.card h2 {
  color: rgb(0, 0, 0);
  padding: 10px;
  text-decoration: underline;
}

.card h3 {
  text-decoration: overline;
  text-align: center;
  padding: 10px;
  color: #333;
}

.card p {
  color: #1a1313;
  text-align: justify;
}

/* Demographics styles */
.demographics-icon img,
.events-icon img,
.statistic-icon img {
  width: 50px;
  height: 50px;
}

.demographics {
  text-align: center;
  display: inline-block;
  margin: 20px;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid #000;
}

.count {
  font-size: 1.5em;
  color: #ff00aa;
}

.label {
  padding: 10px;
  font-size: 1.5em;
  color: #333;
  font-size: 1em;
}

/* Event styles */
.event {
  border: 2px solid #000;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
}

.event h2 {
  color: #ff00aa;
}

.card h4 {
  color: #1a1313;
}

.event p {
  margin: 5px 0;
}

/* Statistics styles */
.statistics-container {
  display: flex;
  height: 100%;
}

.statistics-sidebar {
  flex: 0 0 33%;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid #000;
}

.content {
  flex: 1;
  padding: 20px;
}

.sidebar {
  padding: 20px;
  background-color: #333;
}

/* Lazy loading styles */
.lazyloading {
  padding: 100px;
  background-color: #333;
  text-align: center;
}

.lazyloading picture {
  margin-bottom: 20px;
  animation: fade 15s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.lazyloading img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

.caption {
  color: #fff;
  text-align: center;
  text-decoration: line-through;
}

.sidebar .card {
  margin-bottom: 20px;
}

/* Responsive styles */
.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.lazyloading picture:hover img {
  transform: scale(1.02);
  transition: transform 0.5s ease;
}

.navigation {
  flex-direction: row;
}

.navigation li {
  display: inline-block;
  margin-right: 160px;
}

.stuff {
  margin: 1rem auto;
}

.card:nth-child(1),
.card:nth-child(2) {
  flex: 1 0 100%;
}

.card:nth-child(3) {
  flex: 0 0 35%;
}

/* Hamburger menu styles */
#menu {
  display: none;
}

/* Form styles */
form {
  text-align: left;
}

form fieldset {
  margin: 2rem 0;
  border: 1px solid #666;
  border-radius: 10px;
  padding: 0.5rem 2%;
}

form legend {
  color: #ff00aa;
  margin: 0 1rem;
  padding: 0 0.5rem;
}

form label.top,
form div {
  display: block;
  padding-top: 1rem;
  color: #000;
  font-size: 0.8rem;
}

form label.top input,
form label.top select {
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: 0.75rem;
  color: #000;
  width: 100%;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
  display: block;
  padding: 0.75rem;
  color: #1a1313;
}

form label.top textarea {
  width: 100%;
  font-size: 1rem;
  max-width: 100%;
  padding: 0.75rem;
  border: 1px solid #999;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.1);
  resize: vertical;
}

form label.top textarea::placeholder {
  color: #333;
}

form input.submitBtn {
  border: none;
  background-color: #000;
  color: white;
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 100%;
}

form label.top input:required {
  border-left: red solid 6px;
}

form label.top input:required:valid {
  border-left: rgb(0, 0, 255) solid 6px;
}

/* Membership styles */
.design {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #ffc8dd;
}

main h1 {
  color: #000;
  background-color: #ffc8dd;
}

.membership h4 {
  text-decoration: overline;
}

main {
  background-color: #ffc8dd;
  border-radius: 20px;
}

.row {
  display: flex;
  flex-direction: column;
  margin: 0% 10%;
}

.cardfrontdetails p {
  text-align: justify;
  padding-bottom: 5px;
}

.flip-card {
  margin: 5px;
  width: 100%;
  height: 250px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.7s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}

.flip-card-front {
  color: white;
  background-size: cover;
}

.flip-card-back {
  background-size: cover;
  background-color: rgb(27, 27, 27);
  color: white;
  transform: rotateY(180deg);
}

.card1 {
  background-image: linear-gradient(
      180deg,
      rgba(156, 154, 154, 0.7),
      rgba(0, 0, 0, 0.8)
    ),
    url(/wdd230/chamber/images/freeplan.webp);
}

.card2 {
  background-image: linear-gradient(
      180deg,
      rgba(156, 154, 154, 0.7),
      rgba(0, 0, 0, 0.8)
    ),
    url(/wdd230/chamber/images/bronzeplan.webp);
}

.card3 {
  background-image: linear-gradient(
      180deg,
      rgba(156, 154, 154, 0.7),
      rgba(0, 0, 0, 0.8)
    ),
    url(/wdd230/chamber/images/silverplan.webp);
}

.card4 {
  background-image: linear-gradient(
      180deg,
      rgba(156, 154, 154, 0.7),
      rgba(0, 0, 0, 0.8)
    ),
    url(/wdd230/chamber/images/goldplan.webp);
}

.cardtitle h3 {
  font-size: 30px;
  margin: 50px;
}

.cardfrontdetails {
  margin: 0 10%;
  width: 80%;
}

.cardbackdetails {
  margin: 60px 0px;
}

.from {
  text-transform: uppercase;
}

.price {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 25px;
}

.btn {
  background: #ffc8dd;
  padding: 10px;
  text-decoration: none;
  color: rgb(27, 27, 27);
  border-radius: 5px;
}
.thank-you-message p {
  color: #000;
}
/* CSS to align buttons to the left side of the page */
#grid-view,
#table-view {
  margin-right: 10px; /* Add some space between the buttons */
}

.grid-buttons {
  margin-left: 20px; /* Add margin to separate buttons from the content */
}

button {
  padding: 5px;
  background-color: #bed;
  border: 1px solid #333;
  border-radius: 5px;
}

#directory-container {
  color: #000;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the gap between grid items */
}

.company-card {
  margin: 10px;
  flex: 1 1 300px; /* Adjust the width of each grid item */
  border: 1px solid #bed;
  padding: 20px;
  border-radius: 5px;
  background-color: #999;
}

/* For table view (list view) */
.member-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  margin-top: 10px;
}

.member-table th,
.member-table td {
  padding: 10px;
  border: 1px solid #ccc;
}

.member-table th {
  background-color: #bed; /* Header background color */
}

.member-table tr:nth-child(even) {
  background-color: #f9f9f9; /* Even row background color */
}

.member-table tr:nth-child(odd) {
  background-color: #bed; /* Odd row background color */
}

/* Footer styles */
footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  bottom: 0;
  width: 100%;
  border-radius: 15px;
  font-size: smaller;
}

footer p {
  margin: 5px;
}

@media (max-width: 768px) {
  .company-caard {
    flex: 1 1 300px; /* Adjust the width of each grid item */
    padding: 5px;
    margin: -10px;
  }

  .company-caard:nth-child(1) {
    margin-top: 20px;
  }
  .company-caard:last-child {
    margin-bottom: 20px;
  }
  .company-caard:nth-child(even) {
    background-color: #bed; /* Even row background color */
  }

  .company-caard:nth-child(odd) {
    background-color: #f9f9f9; /* Odd row background color */
  }
  .top-heading h1 {
    padding: 20px 0;
  }

  nav a {
    display: block;
    margin: 10px 0;
  }

  .card {
    flex: 1 0 100%;
    margin: 10px 0;
  }

  .card:nth-child(1),
  .card:nth-child(2) {
    flex: 1 0 100%;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  nav {
    max-width: 700px;
    margin: 1rem auto;
  }

  #menu {
    display: initial;
    font-size: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 3px 7px 6px;
    background-color: #eee;
    color: #000;
    position: fixed;
    top: 1rem;
    right: 1rem;
  }

  #menu::before {
    content: "☰";
  }

  #menu.open::before {
    content: "❌";
  }

  .navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #333;
    color: #fff;
  }

  .navigation li {
    display: none;
  }

  .navigation li a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
  }
  .active::before {
    content: "⚡";
  }

  .container {
    display: block;
  }

  .lazyloading picture:hover img {
    transform: scale(1);
  }
  .design {
    display: block;
  }
  .flip-card {
    height: 325px;
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(0deg);
  }
}
