/* styles.css */

h1{
    text-align: center;
}
main {
  display: flex;
  margin: 0 auto;
  width: 400px;
  flex-direction: column;
}


img {
  width: 100%;
  background: black;
  animation: fade 15s;
  padding: 20px;
}

@keyframes fade{
    0%{
    opacity: 0;
}
100%{
    opacity: 1;
}
}